#importantupdates{
    text-align:center;
    padding-top:50px;
    text-decoration: none;
    color:black;
}
a{
    text-decoration: none;
    color:black;
   
}
#herocovid{
    padding:30px;
}
.card {display:inline-block;}